<template>
  <Layout class="text-center">
    <h1>
      GenGen
    </h1>

    <div class="text-center my-6">
      <p>
        Predictor de género basado en nombres de personas.
      </p>
    </div>

    <div class="w-4/6 mx-auto">
      <div class="flex justify-center">
        <input v-model="names" placeholder="Add multiple names separated by comma"
               class="flex-1 shadow appearance-none border rounded py-2 px-3
               text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
        <button class="mx-4" @click="textInput">
          Predecir
        </button>
      </div>

      <div class="flex my-4">
        <input type="file" @change="fileInput">
      </div>

      <p class="text-left text-sm">
        {{ stats }}
      </p>
    </div>

    <Table v-if="table.length > 0" class="mt-10 mx-auto"
           :data="table" :col-names="colNames"
    />

    <button v-if="table.length > 0" @click="download">
      Descargar CSV
    </button>

    <canvas />
  </Layout>
</template>

<script>
/*  global performance  */

import * as tf from '@tensorflow/tfjs'

import Table from '~/components/BaseTable'
import { downloadAsCSV } from '~/utils'

export default {
  components: {
    Table
  },
  data () {
    return {
      model: null,
      letters: 'abcdefghijklmnopqrstuvwxyz0123456789 ',

      names: '',
      colNames: ['Nombre', 'Genero', 'Probabilidad'],
      table: [],

      stats: '',
      tf: null
    }
  },
  async mounted () {
    // Load the TF model
    this.model = await tf.loadLayersModel('/data/gengen/model.json')
    console.log(`TF is using ${tf.getBackend()} backend`)
  },
  methods: {
    embedding (name) {
      // One hot encodding of each input
      let input = name
        .normalize('NFKD').replace(/[^\w\s.-_/]/g, '') // Remove accents
        .replace(/\s+/g, ' ').trim() // Remove extra white spaces
        .toLowerCase()
        .padEnd(40, '.')
        .split('')
        .map(w => this.letters.indexOf(w))

      input = tf.oneHot(input, this.letters.length)
      input = input.reshape([1, -1, this.letters.length])
      return input
    },
    predict (rawInputs) {
      const start = performance.now()

      // Remove white inputs
      rawInputs = rawInputs
        .map(input => input.replace(/\s+/g, ' ').trim())
        .filter(d => d !== '')

      const promises = []

      const inputs = rawInputs.map(name => this.embedding(name))
      rawInputs.forEach((name, i) => {
        const gen = this.model.predict(inputs[i], { batchSize: 128 })
        promises.push(gen.data())
      })

      Promise.all(promises)
        .then(results => {
          const data = results.map((r, i) => {
            const sign = r[0] >= 0.5 ? '♀' : '♂'
            return [rawInputs[i], sign, r[0]]
          })

          const end = performance.now()
          const totalTime = end - start
          const womans = data.filter(d => d[1] === '♀').length

          this.stats = `${rawInputs.length} nombres clasificados en ${totalTime}ms. ${womans} mujeres y ${rawInputs.length - womans} hombres`
          this.data = data
          this.table = [...data].slice(0, 30)
        })
    },
    textInput () {
      const rawInputs = this.names.split(',')
      this.predict(rawInputs)
    },
    async fileInput (event) {
      const files = event.target.files || event.dataTransfer.files
      let rawInputs = await files[0].text()
      rawInputs = rawInputs.split(/\n/)

      this.predict(rawInputs)
    },
    download () {
      const header = ['nombre', 'genero', 'probabilidad']
      downloadAsCSV('nombres_con_genero', header, this.data)
    }
  }
}
</script>
