<template>
  <Layout>
    <template #banner>
      <Seo :post-date="$page.post.date" />
      <Hero :title="$page.post.title" :date="$page.post.date" :time-to-read="$page.post.timeToRead" />
    </template>

    <VueRemarkContent />
  </Layout>
</template>

<page-query>
query ($id: ID!) {
  post(id: $id) {
    id
    title
    summary
    content
    timeToRead
    date (format: "D MMMM YYYY")
  }
}
</page-query>

<script>
import Seo from '~/components/PostSeo'
import Hero from '~/components/PostHero'

export default {
  metaInfo () {
    return {
      title: this.$page.post.title,
      bodyAttrs: {
        class: 'post'
      }
    }
  },
  components: {
    Seo,
    Hero
  }
}
</script>
