.grid-plot-1b-2s {
  --container-width: 95vw;
  width: var(--container-width);
  margin-left: calc((100% - var(--container-width)) / 2);

  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(30px, auto) 38vh minmax(30px, auto) 38vh;
  grid-template-areas:
  "title-1  title-1"
  "plot-1   plot-1"
  "title-2  title-3"
  "plot-2   plot-3";
}

@media (min-width: 768px) {
  .grid-plot-1b-2s {
    --container-width: 95vw;

    grid-template-columns: 5fr 3fr;
    grid-template-rows: minmax(30px, auto) 38vh minmax(30px, auto) 38vh;
    grid-template-areas:
    "title-1 title-2"
    "plot-1  plot-2"
    "plot-1  title-3"
    "plot-1  plot-3";
  }
}

@media (min-width: 1024px) {
  .grid-plot-1b-2s {
    --container-width: 90vw;

    grid-template-columns: 3fr 1fr;
  }
}
