@font-face {
  font-family: "Chakra Petch";
  src: url("../font/ChakraPetch/ChakraPetch-Regular.woff2") format("woff2"),
       url("../font/ChakraPetch/ChakraPetch-Regular.woff") format("woff");
}

@font-face {
  font-family: "Chakra Petch";
  src: url("../font/ChakraPetch/ChakraPetch-Bold.woff2") format("woff2"),
       url("../font/ChakraPetch/ChakraPetch-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular.woff2") format("woff2"),
       url("../font/Roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Bold.woff2") format("woff2"),
       url("../font/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}

@tailwind base;
@tailwind components;

.light {
  --background-primary: #6200ee;
  --background-primary-light: #9e47ff;
  --background-primary-dark: #0400ba;
  --text-on-primary: #ffffff;
  --text-on-primary-light: #a0aec0;

  --background-secondary: #c5cdd0;
  --background-thernary: #f1efec;

  --background-body: #f5f5f6;
  --background-body-secondary: #e1e2e1;
  --text-on-body: hsla(0, 0%, 0%, 0.8);
}

.dark {
  --background-primary: #212428;
  --background-primary-light: #4c4c4c;
  --background-primary-dark: #000000;
  --text-on-primary: #ffffff;
  --text-on-primary-light: #a0aec0;

  --background-secondary: #2e3943;
  --background-thernary: #131e28;

  --background-body: #19171d;
  --background-body-secondary: #2e3943;
  --text-on-body: #ebf4f1;
}

/******************************************************
  General style
******************************************************/
h1 {
  @apply text-3xl font-mono font-bold border-solid border-b-4 border-on-body inline-block mb-4;
}

h2 {
  @apply text-2xl font-mono font-bold inline-block mb-4;
}

h3 {
  @apply text-2xl font-mono mb-2;
}

@screen sm {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
}

// Links under-line
a:not([class]) {
  box-shadow: inset 0 -.3ex 0 0 #00d1ff;
  transition: box-shadow .2s;

  &:hover {
    box-shadow: inset 0 -2.3ex 0 0 #00d1ff;
  }
}

.border-b-ani::after {
  content: '';
  height: 4px;
  @apply no-underline block bg-white transition-all duration-300 w-0;
}

.border-b-ani.active::after,
.border-b-ani:hover::after {
  @apply w-full;
}

.border-b-body-ani::after {
  content: '';
  height: 4px;
  @apply no-underline block bg-background-on-body transition-all duration-200 w-0;
}

.border-b-body-ani.active::after,
.border-b-body-ani:hover::after {
  @apply w-full;
}

.dark {
  header, footer {
    box-shadow: none;
  }
}

/******************************************************
  Transition efects
******************************************************/
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

/******************************************************
  Plots
******************************************************/
text {
  &.on-body {
    fill: var(--text-on-body)
  }

  &.on-bar {
    fill: white;
  }
}

rect {
  &.bar {
    fill: steelblue;
  }

  // Rectangulos usados como fondo
  // En la tabla por ej
  &.bg-2 {
    fill: var(--background-secondary);
  }

  &.bg-3 {
    fill: var(--background-thernary);
  }
}

/******************************************************
  Post's style
******************************************************/
.post {
  h2 {
    @apply border-solid border-b-4 border-on-body inline-block
  }
  p {
    @apply my-6;
  }
}

@tailwind utilities;
