<template>
  <Layout>
    <BlogEntry v-for="(edge, index) in entries" :key="index"
               :node="edge.node" :index="index"
    />
  </Layout>
</template>

<page-query>
query {
  allPost (sortBy: "date", order: DESC) {
    totalCount
    edges {
      node {
        id
        title
        summary
        plots
        timeToRead
        date (format: "D MMMM YYYY")
        path
        lang
      }
    }
  }
}
</page-query>

<script>
import BlogEntry from '~/components/BlogEntry'

export default {
  metaInfo () {
    return {
      title: this.$t('blog.title')
    }
  },
  components: {
    BlogEntry
  },
  computed: {
    entries: function () {
      return this.$page.allPost.edges
        .filter(edge => edge.node.lang === this.$context.locale)
        .map(edge => {
          const date = new Date(edge.node.date)
          const month = date.toLocaleString(this.$context.locale, { month: 'short' })
          edge.node.dateShort = `${date.getDate()} ${month.replace('.', '')}`
          return edge
        })
    }
  }
}
</script>
