<template>
  <Layout>
    <h1>{{ $t('data.title') }}</h1>

    <div class="block">
      <Tag v-for="tag in tags" :key="tag" :tag="tag" />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 my-10">
      <Card v-for="(edge, index) in $page.allDatasets.edges" :key="index" :node="edge.node" />
    </div>
  </Layout>
</template>

<page-query>
query {
  allDatasets(sortBy: "priority") {
    edges {
      node {
        title
        description
        status
        repo
        dowload
        priority
        tags
      }
    }
  }
}
</page-query>

<script>
import Tag from '~/components/BaseTag'
import Card from '~/components/BaseCard'

export default {
  metaInfo () {
    return {
      title: this.$t('data.title')
    }
  },
  gridsomeI18n: {
    paths: {
      es: '/datos',
      en: '/data',
      pt: '/dados'
    }
  },
  components: {
    Tag,
    Card
  },
  data () {
    return {
      tags: []
    }
  },
  mounted () {
    const tags = this.$page.allDatasets.edges
      .map(ele => ele.node.tags)
      .flat()

    this.tags = [...new Set(tags)]
  }
}
</script>
