<template>
  <Layout>
    <ClientOnly>
      <div class="container mx-auto">
        <h2>Spam</h2>
      </div>
    </ClientOnly>
  </Layout>
</template>

<script>
export default {
  metaInfo () {
    return {
      title: this.$t('home.title')
    }
  },
  mounted () {
    this.$router.push('/blog')
  }
}
</script>
