<template>
  <Layout>
    <h1>{{ $t('projects.title') }}</h1>

    <div class="block">
      <Tag v-for="tag in tags" :key="tag" :tag="tag" />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 my-10">
      <Card v-for="(edge, index) in $page.allProjects.edges" :key="index" :node="edge.node" />
    </div>
  </Layout>
</template>

<page-query>
query {
  allProjects(sortBy: "priority") {
    edges {
      node {
        title
        description
        status
        repo
        url
        priority
        tags
        fileName
      }
    }
  }
}
</page-query>

<script>
import Tag from '~/components/BaseTag'
import Card from '~/components/BaseCard'

export default {
  metaInfo () {
    return {
      title: this.$t('projects.title')
    }
  },
  gridsomeI18n: {
    paths: {
      es: '/proyectos', // -> accessible at /proyectos (no prefix since it's the default locale)
      en: '/projects', // -> accessible at /en/projects
      pt: '/projetos' // -> accessible at /pt/projetos
    }
  },
  components: {
    Tag,
    Card
  },
  data () {
    return {
      tags: []
    }
  },
  mounted () {
    const tags = this.$page.allProjects.edges
      .map(ele => ele.node.tags)
      .flat()

    this.tags = [...new Set(tags)]
  }
}
</script>
