<template>
  <span class="inline-block bg-gray-200 rounded-full px-3
    py-1 text-sm font-semibold text-gray-700 mr-2"
  >
    #{{ tag }}
  </span>
</template>

<script>
export default {
  props: {
    tag: {
      type: String,
      required: true
    }
  }
}
</script>
