<template>
  <article class="grid grid-rows-card bg-background-body-secondary shadow-xl rounded-md p-3 mb-6 mx-3">
    <!-- Header -->
    <header class="block border-solid border-b-4 border-on-body pb-4 mb-6">
      <h2 class="block">
        {{ node.title }}
      </h2>
      <Tag v-for="(tag, index) in node.tags" :key="index" :tag="tag" />
    </header>

    <!-- Body -->
    <p class="text-justify px-4" v-html="node.description" />

    <!-- Footer -->
    <div class="flex justify-end mt-5 pr-4">
      <a v-if="Object.keys(node).includes('repo')" :href="node.repo" class="mr-5">
        <Button text="Repo">
          <PRequest class="h-5 w-5 mr-3" />
        </Button>
      </a>

      <a v-if="Object.keys(node).includes('dowload')" :href="node.dowload" class="not">
        <Button text="Descargar">
          <BookOpen class="h-5 w-5 mr-3" />
        </Button>
      </a>

      <a v-if="Object.keys(node).includes('url')" :href="node.url" class="not">
        <Button text="Ver">
          <BookOpen class="h-5 w-5 mr-3" />
        </Button>
      </a>
    </div>
  </article>
</template>

<script>
import Tag from '~/components/BaseTag'
import Button from '~/components/BaseButton'

import PRequest from '~/assets/svg/git-pull-request.svg'
import BookOpen from '~/assets/svg/book-open.svg'

export default {
  components: {
    Tag,
    Button,
    PRequest,
    BookOpen
  },
  props: {
    node: {
      type: Object,
      required: true
    }
  }
}
</script>
