<template>
  <button class="flex content-center items-center
    bg-background-primary border-b-8 border-primary-dark
    font-bold text-on-primary py-2 px-4 rounded"
  >
    <slot />
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true
    }
  }
}
</script>
