<template>
  <table class="table-fixed">
    <thead>
      <tr>
        <th v-for="(name, i) in colNames" :key="i" class="px-4 py-2">
          {{ name }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(row, j) in data" :key="j" :class="j % 2 === 0 ? 'bg-background-secondary' : 'bg-background-thernary'">
        <td v-for="(ele, k) in row" :key="`${j}-${k}`" class="border px-4 py-2 text-on-body">
          {{ ele }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  props: {
    colNames: {
      type: Array,
      default () {
        return []
      }
    },
    data: {
      type: Array,
      required: true
    }
  }
}
</script>
