<template>
  <article class="grid grid-rows-blog-entry-mobile
    md:grid-cols-4 md:grid-rows-none gap-4 rounded-lg px-6 py-10 sm:px-10"
           :class="index % 2 === 0? 'bg-background-body-secondary shadow-xl' : ''"
  >
    <!-- Post metadata -->
    <div class="text-xs sm:text-sm md:mt-3 md:pt-6 md:border-r-4 md:border-on-body font-mono">
      <div class="inline-flex mr-4 sm:mr-6 md:flex md:items-center md:mb-2">
        <Calendar class="h-5 w-5 mr-2" />
        <span class="hidden sm:block">{{ node.date }}</span>
        <span class="sm:hidden">{{ node.dateShort }}</span>
      </div>

      <div class="inline-flex mr-4 sm:mr-6 md:flex md:items-center md:mb-2">
        <Clock class="h-5 w-5 mr-2" />
        <span class="">{{ node.timeToRead }} min</span>
      </div>

      <div class="inline-flex md:flex md:items-center md:mb-2">
        <ChartBar class="h-5 w-5 mr-2" />
        <span class="">{{ node.plots }} {{ node.plots > 1 ? 'plots' : 'plot' }}</span>
      </div>
    </div>

    <div class="md:col-span-3">
      <g-link class="text-2xl sm:text-3xl font-bold border-b-body-ani" :to="node.path">
        {{ node.title }}
      </g-link>

      <p class="mt-4 sm:ml-4 text-lg text-justify" v-html="node.summary" />
    </div>
  </article>
</template>

<script>
import Clock from '~/assets/svg/clock.svg'
import Calendar from '~/assets/svg/calendar.svg'
import ChartBar from '~/assets/svg/chart-bar.svg'

export default {
  components: {
    Clock,
    Calendar,
    ChartBar
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    node: {
      type: Object,
      required: true
    }
  }
}
</script>
