<template>
  <div class="grid grid-plot-1b-2s gap-4 mb-8">
    <h3 style="grid-area: title-1;">
      The Map
    </h3>
    <div id="map" style="grid-area: plot-1;">
      <!-- Woman summary -->
      <div class="absolute bottom-0 left-1/4 w-1/2 z-1000 p-4
        bg-background-secondary text-on-body" v-html="description"
      />

      <!-- Time line control -->
      <div class="flex flex-col absolute right-0 bottom-0 p-4
        bg-background-secondary z-1000 text-on-body"
      >
        <span class="text-3xl">{{ actualDate }}</span>

        <div class="flex justify-center bg-transparent">
          <Back class="w-5 h-5 cursor-pointer" @click="prevDate" />

          <Pause v-if="isRunning" class="w-5 h-5 mx-2 cursor-pointer" @click="stopTimeLine" />
          <Play v-else class="w-5 h-5 mx-2 cursor-pointer" @:click="startTimeLine" />

          <Next class="w-5 h-5 cursor-pointer" @:click="nextDate" />
          <Reload class="w-5 h-5 ml-4 cursor-pointer" @:click="restartTimeLine" />
        </div>
      </div>
    </div>

    <h3 style="grid-area: title-2;">
      Personas con mas visitas
    </h3>
    <div class="overflow-y-auto" style="grid-area: plot-2;">
      <PlotTable :data="topEntities" :cold-widths="[30, 100, 150]" @tableHover="tableHover" />
    </div>

    <h3 style="grid-area: title-3;">
      Top de visitas por pais
    </h3>
    <PlotBar class="h-full w-full" style="grid-area: plot-3;"
             :data="topCountries" :font-size-y="30"
    />
  </div>
</template>

<script>
import * as d3 from 'd3'

import { mapState } from 'vuex'

import PlotBar from '~/components/PlotBar'
import PlotTable from '~/components/PlotTable'

import Play from '~/assets/svg/play.svg'
import Next from '~/assets/svg/next.svg'
import Back from '~/assets/svg/back.svg'
import Pause from '~/assets/svg/pause.svg'
import Reload from '~/assets/svg/reload.svg'

// Solve the problem on build
// https://github.com/gridsome/gridsome/issues/646#issuecomment-578367659
let L
if (process.isClient) {
  L = require('leaflet')
  require('mapbox-gl-leaflet')
}

export default {
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: '/css/leaflet.css' }
    ]
  },
  components: {
    PlotBar,
    PlotTable,
    Play,
    Back,
    Next,
    Pause,
    Reload
  },
  props: {
    center: {
      type: Array,
      required: true
    },
    zoom: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      // Map
      map: null,
      tiles: {
        dark: null,
        light: null
      },
      description: '',

      // Plot
      svg: null,
      scale: null,
      scaleMaxValue: 0,

      // Initial data
      flagMap: {},
      data: [],
      viewsByCountry: [],

      // Data for plots
      dataFilter: [],
      topEntities: [],
      topCountries: [],

      hoverEntity: '',

      dates: [],
      actualDate: null,
      isRunning: false
    }
  },
  computed: {
    ...mapState('common', ['theme'])
  },
  watch: {
    theme (newTheme, oldTheme) {
      // Dynamicaly change light or dark tile
      this.map.removeLayer(this.tiles[oldTheme])
      this.map.addLayer(this.tiles[newTheme])
    },
    actualDate () {
      this.dataFilter = this.filterPoints()
      this.draw(this.dataFilter)
    }
  },
  mounted () {
    this.initMap()
    this.createElements()
    this.getData()
  },
  methods: {
    initMap: function () {
      // Initialize the map  and add a svg layer
      this.map = L.map('map', {
        minZoom: 2,
        attributionControl: false
      }).setView(this.center, this.zoom)
      L.svg().addTo(this.map)

      this.tiles.dark = L.mapboxGL({
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        accessToken: 'not-needed',
        style: 'https://api.maptiler.com/maps/bf06668d-40cd-4894-ad60-d86592bd611d/style.json?key=wg9o3sNG9bVTmn66HNAw'
      })

      this.tiles.light = L.mapboxGL({
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        accessToken: 'not-needed',
        style: 'https://api.maptiler.com/maps/e02263fe-a6ba-41cd-8332-89588109983c/style.json?key=wg9o3sNG9bVTmn66HNAw'
      })

      this.tiles[this.theme].addTo(this.map)

      L.control.attribution({
        position: 'topright'
      }).addTo(this.map)
    },
    createElements: function () {
      // Select the svg area and add circles:
      this.svg = d3.select('#map')
        .select('.leaflet-pane.leaflet-overlay-pane')
        .select('svg')

      const update = () => {
        this.dataFilter = this.filterPoints()
        this.draw(this.dataFilter)
      }

      // If the user change the map (zoom or drag), I update circle position:
      this.map.on('moveend', update)
    },
    getData: function () {
      const lang = this.$context.pathAliases

      const prom1 = fetch('/data/wiki/int_to_flag.json')
        .then(response => response.json())
        .then(data => { this.flagMap = data })

      const prom2 = fetch('/data/wiki/max_value.json')
        .then(response => response.json())
        .then(data => { this.scaleMaxValue = data.val })

      const prom3 = d3.csv(`/data/wiki/total_views_by_country_${lang}.csv`, row => {
        // Parse all the views to int
        Object.keys(row)
          .filter(key => key.startsWith('20'))
          .forEach(key => { row[key] = +row[key] })

        return row
      }).then(data => { this.viewsByCountry = data })

      const prom4 = d3.csv(`/data/wiki/mujeres_${lang}.csv`, row => {
        row.lat = +row.lat
        row.lng = +row.lng
        row.countryIndex = +row.country_index

        // Parse all the views to int
        Object.keys(row)
          .filter(key => key.startsWith('20'))
          .forEach(key => { row[key] = +row[key] })

        return row
      }).then(data => {
        this.dates = Object.keys(data[0])
          .filter(key => key.startsWith('20'))
        this.actualDate = this.dates[0]

        this.data = data
      })

      Promise.all([prom1, prom2, prom3, prom4])
        .then(() => {
          this.dataFilter = this.filterPoints()
          this.draw(this.dataFilter)
        })
    },
    draw: function (data) {
      // const t = this.svg.transition()
      //   .duration(750)

      this.svg.selectAll('circle')
        .data(data, d => d)
        .join(
          enter => enter.append('circle')
            .attr('stroke-width', 1)
            .attr('fill-opacity', 0.4)
            .attr('cursor', 'pointer')
            .attr('pointer-events', 'visible')
            .on('mouseover', d => this.showTooltip(d))
            .attr('cx', d => this.map.latLngToLayerPoint([d.lat, d.lng]).x)
            .attr('cy', d => this.map.latLngToLayerPoint([d.lat, d.lng]).y)
            .attr('r', d => this.scale(d[this.actualDate])),
          update => update
            .attr('cx', d => this.map.latLngToLayerPoint([d.lat, d.lng]).x)
            .attr('cy', d => this.map.latLngToLayerPoint([d.lat, d.lng]).y)
            .attr('r', d => this.scale(d[this.actualDate])),
          exit => exit.remove()
        )
        .attr('fill', d => d.sitelink === this.hoverEntity ? 'blue' : 'red')
        .attr('stroke', d => d.sitelink === this.hoverEntity ? 'blue' : 'red')
    },
    filterPoints: function () {
      const zoom = this.map._zoom
      const bounds = this.map.getBounds()

      // Get points on the screen and sort by view
      let dataFilter = this.data
        .filter(row => bounds.contains(row))
        .filter(row => row[this.actualDate] > 0)
        .sort((a, b) => b[this.actualDate] - a[[this.actualDate]])

      if (zoom < 6) {
        dataFilter = dataFilter.slice(0, 1000)
      }

      // Plot scale
      const range = zoom >= 4 ? [5, 10] : [1.5, 5]
      this.scale = d3.scaleSqrt()
        .domain([1, this.scaleMaxValue])
        .range(range)

      this.topEntities = dataFilter.slice(0, 10)
        .map(d => {
          const icon = this.flagMap[d.countryIndex]
          const name = d.sitelink.replace(/_/g, ' ')
          return [icon, d[this.actualDate], name]
        })

      let countries = [...new Set(dataFilter.map(d => d.countryIndex))]
      countries = countries
        .filter(index => index !== -1)
        .map(index => this.flagMap[index])

      this.topCountries = countries
        .map(country => {
          const p = this.viewsByCountry.filter(dd => dd.country === country)
          return {
            name: country,
            value: p[0][this.actualDate]
          }
        })
        .sort((a, b) => b.value - a.value)
        .slice(0, 5)

      return dataFilter
    },
    showTooltip: function (d) {
      const lang = this.$context.pathAliases
      const url = `https://${lang}.wikipedia.org/api/rest_v1/page/summary/${d.sitelink}`

      fetch(url)
        .then(response => response.json())
        .then(data => {
          this.description = `<a href="${data.content_urls.desktop.page}" class="ref" target="_blank">
          ${data.extract_html.replace('<p>', '<p style="margin: 0;">')}
          </a>
          `
        })
    },

    // Time line funtions
    nextDate: function () {
      const index = this.dates.indexOf(this.actualDate) + 1

      if (index < this.dates.length) {
        this.actualDate = this.dates[index]
      } else {
        this.isRunning = false
        clearInterval(this.interval)
      }
    },
    prevDate: function () {
      const index = this.dates.indexOf(this.actualDate) - 1

      if (index >= 0) {
        this.actualDate = this.dates[index]
      } else {
        this.isRunning = false
        clearInterval(this.interval)
      }
    },
    startTimeLine: function () {
      this.isRunning = true
      this.nextDate()

      this.interval = setInterval(function () {
        this.nextDate()
      }.bind(this), 1300)
    },
    stopTimeLine: function () {
      this.isRunning = false
      clearInterval(this.interval)
    },
    restartTimeLine: function () {
      this.actualDate = this.dates[0]
      clearInterval(this.interval)
      this.startTimeLine()
    },

    // Table emit
    tableHover: function (rowHover) {
      this.hoverEntity = rowHover[2].replace(/ /g, '_')
      this.draw(this.dataFilter)
    }
  }
}
</script>
