<template>
  <svg :id="id" />
</template>

<script>
import * as d3 from 'd3'

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    coldWidths: {
      type: Array,
      required: true
    },
    id: {
      type: String,
      default: 'table'
    },
    width: {
      type: Number,
      default: 400
    },
    minHeight: {
      type: Number,
      default: 400
    },
    gap: {
      type: Number,
      default: 15
    },
    fontSize: {
      type: Number,
      default: 18
    }
  },
  data () {
    return {
      svg: null
    }
  },
  watch: {
    data: function () {
      this.draw()
    }
  },
  mounted () {
    this.createElements()
  },
  methods: {
    createElements: function () {
      this.svg = d3.select(`#${this.id}`)
        .attr('viewBox', `0 0 ${this.width} ${this.minHeight}`)

      this.svg.append('g')
        .attr('class', 'background')

      this.svg.append('g')
        .attr('class', 'main')
        .attr('font-size', this.fontSize)
    },
    draw: function () {
      const that = this
      // const t = this.svg.transition()
      //   .duration(750)

      const sizes = this.coldWidths.map(d => d + this.gap)
      sizes.unshift(0)

      const cumulativeSum = (sum => value => { sum += value; return sum })(0)
      const positions = sizes.map(cumulativeSum)

      // Table
      const row = this.svg.select('g.main').selectAll('.row')
        .data(this.data, d => d)
        .join(
          enter => enter.append('g')
            .attr('class', 'row')
            .attr('fill', 'green'),
          update => update
            .attr('fill', 'black'),
          exit => exit.remove()
        )
        .on('mouseover', d => { this.$emit('tableHover', d) })

      const cell = row.selectAll('.cell')
        .data(d => d)
        .join(
          enter => enter.append('g')
            .attr('class', 'cell'),
          update => update,
          exit => exit.remove()
        )
        .attr('data-index', (d, i) => i)
        .attr('transform', (d, i) => `translate(${positions[i] + this.gap}, 0)`)

      cell.selectAll('text')
        .data(dd => [dd])
        .join(
          enter => enter.append('text')
            .attr('class', 'on-body'),
          update => update,
          exit => exit.remove()
        )
        .text(dd => dd)
        .call(wrap, this.coldWidths)

      // Background
      this.svg.select('g.background')
        .selectAll('rect')
        .data(this.data, d => d)
        .join(
          enter => enter.append('rect')
            .attr('x', 0)
            .attr('width', this.width),
          update => update,
          exit => exit
            .remove()
        )
        .call(positionRect)

      // Update svg height
      this.svg.select('g.background')
        .call(updateSvgHeight)

      function updateSvgHeight (background) {
        const node = background.node()
        const box = node.getBoundingClientRect()
        const newHeight = that.minHeight > box.height ? that.minHeight : Math.round(box.height)
        that.svg.attr('viewBox', `0 0 ${that.width} ${newHeight * 1.1}`)
      }

      function positionRect (recs) {
        const rows = that.svg.selectAll('.row')._groups[0]

        recs.each(function (d, i) {
          const actualNode = d3.select(this)
          const rowNode = rows[i]

          actualNode
            .attr('y', rowNode.getAttribute('data-rect-y'))
            .attr('height', rowNode.getAttribute('data-rect-h'))
            .attr('class', () => i % 2 === 0 ? 'bg-2' : 'bg-3')
        })
      }

      function wrap (text, coldWidths) {
        text.each(function (d) {
          const text = d3.select(this)
          const index = text.node().parentNode.getAttribute('data-index')
          const words = text.text().split(/\s+/).reverse()
          const width = coldWidths[index]

          let word = words.pop()
          let line = []
          let lineNumber = 0
          const lineHeight = 1.1 // ems

          let tspan = text.text(null).append('tspan').attr('x', 0).attr('y', 0).attr('dy', '0em')

          while (word) {
            line.push(word)
            tspan.text(line.join(' '))
            if (tspan.node().getComputedTextLength() > width) {
              line.pop()
              tspan.text(line.join(' '))
              line = [word]
              tspan = text.append('tspan').attr('x', 0).attr('y', 0).attr('dy', `${++lineNumber * lineHeight}em`).text(` ${word}`)
            }

            word = words.pop()
          }

          const parentNode = text.node().parentNode.parentNode
          const previousNode = parentNode.previousElementSibling

          let rectY = 0
          let rectH = 0
          let yPartial = 0
          if (previousNode) {
            yPartial = +previousNode.getAttribute('data-y-partial')
          }

          parentNode.style.transform = `translate(0, calc(${yPartial + that.gap}px + 1em))`

          rectY = yPartial
          rectH = that.gap + Math.round(parentNode.getBoundingClientRect().height) + that.gap
          yPartial = yPartial + rectH
          parentNode.setAttribute('data-y-partial', yPartial)
          parentNode.setAttribute('data-rect-y', rectY)
          parentNode.setAttribute('data-rect-h', rectH)
        })
      }
    }
  }
}
</script>
