<template>
  <div :id='id' class='relative'>
    <svg />
    <div class='tooltip' />
  </div>
</template>

<script>
import * as d3 from 'd3'

export default {
  props: {
    dataUrl: {
      type: String,
      required: true
    },
    id: {
      type: String,
      default: 'scatter'
    },
    width: {
      type: Number,
      default: 900
    },
    height: {
      type: Number,
      default: 300
    },
    margin: {
      type: Object,
      default () {
        return { top: 30, right: 30, bottom: 50, left: 50 }
      }
    },
    fontSize: {
      type: String,
      default: '16px'
    },
    fontSizeY: {
      type: Number,
      default: null
    },
    fontSizeX: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      svg: null,
      data: []
    }
  },
  watch: {
    data: function () {
      this.draw()
    }
  },
  async mounted () {
    this.createElements()
    const data = await d3.csv(this.dataUrl)
    this.data = data.map(row => {
      row.x = new Date(row.fecha)
      row.y = +row.magnitud
      return row
    })
  },
  methods: {
    createElements: function () {
      this.svg = d3.select(`#${this.id} svg`)
        .attr('viewBox', [0, 0, this.width, this.height])

      // Circles
      this.svg.append('g')
        .attr('class', 'dots')

      // X axis
      this.svg.append('g')
        .attr('class', 'axis-x')

      // Y axis
      this.svg.append('g')
        .attr('class', 'axis-y')

      this.svg.append('g')
        .attr('class', 'grid')

      // Define the div for the tooltip
      this.tooltip = d3.select(`#${this.id} .tooltip`)
    },
    draw: function () {
      const x = d3.scaleTime()
        .domain([new Date('2018'), d3.max(this.data, d => d.x)])
        .range([this.margin.left, this.width - this.margin.right])

      const y = d3.scaleLinear()
        .domain([1.5, d3.max(this.data, d => d.y) + 0.5])
        .range([this.height - this.margin.bottom, this.margin.top])

      const scale = d3.scaleSqrt()
        .domain([d3.min(this.data, d => d.y), d3.max(this.data, d => d.y)])
        .range([5, 15])

      // Axis
      const yAxis = g => g
        .attr('transform', `translate(${this.margin.left}, 0)`)
        .call(d3.axisLeft(y))

      const xAxis = g => g
        .attr('transform', `translate(0, ${this.height - this.margin.bottom})`)
        .call(d3.axisBottom(x)
          .ticks(10))
        .call(g => g.select('.domain').remove())

      const grid = g => g
        .attr('stroke', 'currentColor')
        .attr('stroke-opacity', 0.1)
        .call(g => g.append('g')
          .selectAll('line')
          .data(x.ticks())
          .join('line')
          .attr('x1', d => 0.5 + x(d))
          .attr('x2', d => 0.5 + x(d))
          .attr('y1', this.margin.top)
          .attr('y2', this.height - this.margin.bottom))
        .call(g => g.append('g')
          .selectAll('line')
          .data(y.ticks())
          .join('line')
          .attr('y1', d => 0.5 + y(d))
          .attr('y2', d => 0.5 + y(d))
          .attr('x1', this.margin.left)
          .attr('x2', this.width - this.margin.right))

      const that = this

      this.svg.select('g.dots')
        .selectAll('circle')
        .data(this.data, d => d)
        .join(
          enter => enter.append('circle')
            .attr('class', 'dot')
            .attr('fill', d => d.intensidad === 'False' ? 'blue' : 'red')
            .attr('stroke', d => d.intensidad === 'False' ? 'blue' : 'red')
            .attr('stroke-width', 1)
            .attr('fill-opacity', 0.4)
            .attr('pointer-events', 'visible')
            .on('mouseover', function (d) {
              const pointRect = this.getBoundingClientRect()
              that.showTooltip(d, pointRect)
            })
            .on('mouseout', d => this.hiddenTooltip())
            .on('click', d => window.open(d.url, '_blank').focus())
            .attr('cx', d => x(d.x))
            .attr('cy', d => y(d.y))
            .attr('r', d => scale(d.y))
        )

      // Update axis
      this.svg.select('g.axis-y')
        .call(yAxis)
        .attr('font-size', this.fontSizeY || this.fontSize)

      this.svg.select('g.axis-x')
        .call(xAxis)
        .attr('font-size', this.fontSizeX || this.fontSize)

      this.svg.select('g.grid')
        .call(grid)
    },
    showTooltip (d, pointRect) {
      const text = `
<span><strong>Fecha:</strong> ${d.fecha}</span><br/>
<span><strong>Magnitud:</strong> ${d.magnitud}</span><br/>
<span>Para mas informacion, hace click en el punto</span>`

      this.tooltip
        .html(text)
        .style('display', 'block')

      const svgRect = this.svg.node().getBoundingClientRect()
      const rect = this.tooltip.node().getBoundingClientRect()
      const x = pointRect.right - (pointRect.width / 2) - rect.width / 2 - svgRect.x
      const y = -rect.height + pointRect.top - (pointRect.height / 2) - svgRect.top

      this.tooltip
        .style('left', d => `${x}px`)
        .style('top', d => `${y}px`)
    },
    hiddenTooltip () {
      this.tooltip.style('display', 'none')
    }
  }
}
</script>

<style scoped>
.tooltip {
  background: #fff;
  display: none;
  z-index: 1000;
  position: absolute;
  width: 350px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
}

.tooltip:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
</style>
