<template>
  <svg :id="id" />
</template>

<script>
import * as d3 from 'd3'

export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    id: {
      type: String,
      default: 'bar'
    },
    width: {
      type: Number,
      default: 400
    },
    height: {
      type: Number,
      default: 400
    },
    margin: {
      type: Object,
      default () {
        return { top: 30, right: 0, bottom: 10, left: 40 }
      }
    },
    fontSize: {
      type: Number,
      default: 18
    },
    fontSizeY: {
      type: Number,
      default: null
    },
    fontSizeX: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      svg: null
    }
  },
  watch: {
    data: function () {
      this.draw()
    }
  },
  mounted () {
    this.createElements()
    console.log(this.fontSizeY, this.fontSize)
  },
  methods: {
    createElements: function () {
      this.svg = d3.select(`#${this.id}`)
        .attr('viewBox', [0, 0, this.width, this.height])

      // Bars
      this.svg.append('g')
        .attr('class', 'bars')

      // Text on each bar
      this.svg.append('g')
        .attr('class', 'values')
        .attr('text-anchor', 'end')
        .attr('font-size', this.fontSize)

      // X axis
      this.svg.append('g')
        .attr('class', 'axis-x')

      // Y axis
      this.svg.append('g')
        .attr('class', 'axis-y')
    },
    draw: function () {
      // Scales
      const y = d3.scaleBand()
        .domain(d3.range(this.data.length))
        .rangeRound([this.margin.top, this.height - this.margin.bottom])
        .padding(0.1)

      const x = d3.scaleLinear()
        .domain([0, d3.max(this.data, d => d.value)])
        .range([this.margin.left, this.width - this.margin.right])

      // Axis
      const yAxis = g => g
        .attr('transform', `translate(${this.margin.left},0)`)
        .call(d3.axisLeft(y).tickFormat(i => this.data[i].name).tickSizeOuter(0))

      const xAxis = g => g
        .attr('transform', `translate(0,${this.margin.top})`)
        .call(d3.axisTop(x)
          .ticks(5, 's'))
        .call(g => g.select('.domain').remove())

      const t = this.svg.transition()
        .duration(750)

      // Bars
      this.svg.select('g.bars')
        .selectAll('rect')
        .data(this.data, d => d)
        .join(
          enter => enter.append('rect')
            .attr('class', 'bar')
            .attr('x', x(0))
            .attr('y', (d, i) => y(i))
            .attr('width', 0)
            .attr('height', y.bandwidth())
            .call(enter => enter.transition(t)
              .attr('width', d => x(d.value) - x(0))),
          update => update
            .attr('height', y.bandwidth())
            .call(update => update.transition(t)
              .attr('y', (d, i) => y(i))
              .attr('width', d => x(d.value) - x(0))),
          exit => exit
            .call(exit => exit.transition(t)
              .attr('width', 0)
              .remove())
        )

      // Text on bars
      this.svg.select('g.values')
        .selectAll('text')
        .data(this.data)
        .join('text')
        .text(d => d.value)
        .attr('x', function (d) {
          // Si el texto es mas largo que la bara, lo pongo afuera
          // Sino queda dentro de la barra
          const node = d3.select(this).node()
          const textLength = node.getComputedTextLength()
          const barWidth = x(d.value) - x(0)

          if (barWidth > textLength * 1.1) {
            return x(d.value) - 4
          } else {
            return x(0) + barWidth + textLength + 4
          }
        })
        .attr('y', (d, i) => y(i) + y.bandwidth() / 2)
        .attr('dy', '0.35em')
        .attr('class', function (d) {
          const node = d3.select(this).node()
          const textLength = node.getComputedTextLength()
          const barWidth = x(d.value) - x(0)

          if (barWidth > textLength * 1.1) {
            return 'on-bar'
          } else {
            return 'on-body'
          }
        })

      // Axis
      this.svg.select('g.axis-y')
        .call(yAxis)
        .attr('font-size', this.fontSizeY || this.fontSize)

      this.svg.select('g.axis-x')
        .call(xAxis)
        .attr('font-size', this.fontSizeX || this.fontSize)
    }
  }
}
</script>
