<template>
  <div id="map">
    <div class="tooltip" />
  </div>
</template>

<script>
import * as d3 from 'd3'

import { mapState } from 'vuex'

// Solve the problem on build
// https://github.com/gridsome/gridsome/issues/646#issuecomment-578367659
let L
if (process.isClient) {
  L = require('leaflet')
  require('mapbox-gl-leaflet')
}

export default {
  metaInfo: {
    link: [
      { rel: 'stylesheet', href: '/css/leaflet.css' }
    ]
  },
  props: {
    dataUrl: {
      type: String,
      required: true
    },
    center: {
      type: Array,
      required: true
    },
    zoom: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      map: null,
      tiles: {
        dark: null,
        light: null
      },
      description: '',

      svg: null,
      tooltip: null,
      data: [],
      dataFilter: [],
      scale: null,

      dates: [],
      actualDate: null,
      isRunning: false
    }
  },
  computed: {
    ...mapState('common', ['theme'])
  },
  watch: {
    theme (newTheme, oldTheme) {
      // Dynamicaly change light or dark tile
      this.map.removeLayer(this.tiles[oldTheme])
      this.map.addLayer(this.tiles[newTheme])
    }
  },
  mounted () {
    this.initMap()
    this.getData()
  },
  methods: {
    initMap: function () {
      // Initialize the map  and add a svg layer
      this.map = L.map('map', {
        minZoom: 8,
        attributionControl: false
      }).setView(this.center, this.zoom)
      L.svg().addTo(this.map)

      this.tiles.dark = L.mapboxGL({
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        accessToken: 'not-needed',
        style: 'https://api.maptiler.com/maps/e3d5d951-aafc-4420-a9b9-55a46719e958/style.json?key=wg9o3sNG9bVTmn66HNAw'
      })

      this.tiles.light = L.mapboxGL({
        attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
        accessToken: 'not-needed',
        style: 'https://api.maptiler.com/maps/58666b71-19d4-4aba-92c1-228c67662363/style.json?key=wg9o3sNG9bVTmn66HNAw'
      })

      this.tiles[this.theme].addTo(this.map)

      L.control.attribution({
        position: 'topright'
      }).addTo(this.map)
    },
    getData: function () {
      d3.csv(this.dataUrl, row => {
        row.lat = +row.latitud
        row.lng = +row.longitud
        row.magnitud = +row.magnitud
        row.profundidad = +row.profundidad

        return row
      }).then(data => {
        this.data = data
        const maxVal = d3.max(this.data, d => d.magnitud)
        const minVal = d3.min(this.data, d => d.magnitud)

        this.scale = d3.scaleSqrt()
          .domain([minVal, maxVal])
          .range([5, 15])

        this.drawData()
      })
    },
    drawData: function () {
      // Select the svg area and add circles:
      this.svg = d3.select('#map')
        .select('.leaflet-pane.leaflet-overlay-pane')
        .select('svg')

      // Define the div for the tooltip
      this.tooltip = d3.select('#map')
        .select('.tooltip')

      this.createUpdatepoints()

      // If the user change the map (zoom or drag), I update circle position:
      const update = () => this.createUpdatepoints()
      this.map.on('moveend', update)
    },
    createUpdatepoints: function () {
      const that = this

      this.svg.selectAll('circle')
        .data(this.data)
        .join(
          enter => enter.append('circle')
            .style('cursor', 'pointer')
            .attr('fill', d => d.intensidad === '' ? 'blue' : 'red')
            .attr('stroke', d => d.intensidad === '' ? 'blue' : 'red')
            .attr('stroke-width', 1)
            .attr('fill-opacity', 0.4)
            .attr('pointer-events', 'visible')
            .on('mouseover', function (d) {
              const mouse = d3.mouse(this)
              const pointRect = this.getBoundingClientRect()
              console.log(this, mouse, pointRect)
              that.showTooltip(mouse, d)
            })
            .on('mouseout', d => this.hiddenTooltip())
            .on('click', d => window.open(d.url, '_blank').focus())
            .attr('cx', d => this.map.latLngToLayerPoint([d.lat, d.lng]).x)
            .attr('cy', d => this.map.latLngToLayerPoint([d.lat, d.lng]).y)
            .attr('r', d => this.scale(d.magnitud)),
          update => update
            .attr('cx', d => this.map.latLngToLayerPoint([d.lat, d.lng]).x)
            .attr('cy', d => this.map.latLngToLayerPoint([d.lat, d.lng]).y)
            .attr('r', d => this.scale(d.magnitud)),
          exit => exit
            .attr('r', d => 0)
            .remove()
        )
    },
    showTooltip: function (mouse, d) {
      const text = `
<span><strong>Fecha:</strong> ${d.fecha}</span><br/>
<span><strong>Magnitud:</strong> ${d.magnitud}</span><br/>
<span><strong>Profundidad:</strong> ${d.profundidad} Km</span><br/>
<span>Para mas informacion, hace click en el punto</span>`

      this.tooltip
        .html(text)
        .style('display', 'block')
        .style('left', d => {
          const rect = this.tooltip.node().getBoundingClientRect()
          return `${mouse[0] - rect.width / 2}px`
        })
        .style('top', d => {
          const rect = this.tooltip.node().getBoundingClientRect()
          return `${mouse[1] - rect.height - 20}px`
        })
    },
    hiddenTooltip: function () {
      this.tooltip.style('display', 'none')
    },
    startTimeLine: function () {

    },
    stopTimeLine: function () {

    },
    nextDate: function () {

    }
  }
}
</script>

<style scoped>
#map {
  /* width: 95vw; */
  height: 70vh;
  /* margin-left: calc((100% - 95vw) / 2); */
  margin-bottom: 2rem;
}

.tooltip {
  background: #fff;
  display: none;
  z-index: 1000;
  position: absolute;
  min-width: 180px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.75);
}

.tooltip:after {
  content:'';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 10px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
</style>
