<template>
  <div />
</template>

<static-query>
query {
  metadata {
    siteName
    siteUrl
  }
}
</static-query>

<script>
export default {
  props: {
    postDate: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      dateIso: ''
    }
  },
  mounted () {
    const date = new Date(this.postDate)
    const month = (date.getMonth() + 1).toString().padStart(2, '0')
    const num = date.getDate().toString().padStart(2, '0')
    this.dateIso = `${date.getFullYear()}-${month}-${num}`
  },
  metaInfo () {
    return {
      meta: [
        {
          key: 'description',
          name: 'description',
          content: this.$page.post.summary
        },

        // Some open graph tags
        { property: 'og:type', content: 'article' },
        { property: 'og:site_name', content: this.$static.metadata.siteName },
        { property: 'og:locale', content: this.$i18n.locale.replace('-', '_') },
        {
          property: 'og:url',
          content: this.$static.metadata.siteUrl + this.$route.fullPath
        },
        { property: 'og:title', content: this.$page.post.title },
        { property: 'og:description', content: this.$page.post.summary },
        { property: 'article:published_time', content: this.dateIso },

        // Some twitter cards tags
        { name: 'twitter:card', content: 'summary_large_image' },
        { name: 'twitter:title', content: this.$page.post.title },
        // { name: 'twitter:image', content: this.$page.post.cover_image },
        { name: 'twitter:description', content: this.$page.post.summary }
      ],
      // Some ld+json tags
      script: [
        {
          type: 'application/ld+json',
          json: {
            '@context': 'http://schema.org',
            '@type': 'BlogPosting',
            datePublished: this.dateIso,
            headline: this.$page.post.title,
            description: this.$page.post.summary,
            // image: this.$page.blog.cover_image,
            // author: {
            //   '@type': 'Person',
            //   name: this.$page.post.author.name
            // },
            publisher: {
              '@type': 'Organization',
              name: 'Pewen'
              // logo: {
              //   '@type': 'ImageObject',
              //   url: '',
              //   width: ,
              //   height:
              // }
            }
          }
        }
      ]
    }
  }
}
</script>
