<template>
  <footer class="bg-background-primary text-on-primary border-b-10
    border-primary-dark py-10 shadow-footer"
  >
    <div class="grid font-bold">
      <p class="inline-flex justify-center mb-2">
        &lt;\&gt; {{ $t('footer.with') }} <Heart class="h-6 w-6 mx-3 fill-red" /> {{ $t('footer.by') }}
        <a class="h-6 w-6 ml-3" href="https://gitlab.com/pewen" target="_blank"><Gitlab class="fill-red" /></a>
      </p>

      <p class="text-center">
        {{ $t('footer.work') }}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
          {{ $t('footer.license') }}
        </a>
      </p>
    </div>
  </footer>
</template>

<script>
import Heart from '~/assets/svg/heart.svg'
import Gitlab from '~/assets/svg/gitlab.svg'

export default {
  components: {
    Heart,
    Gitlab
  }
}
</script>
