<template>
  <header class="relative bg-background-primary text-on-primary border-t-10
    shadow-nav-bar border-primary-dark sm:flex sm:justify-between
    sm:items-center sm:px-4 sm:py-3"
  >
    <div class="flex items-center justify-between px-4 py-3 sm:p-0">
      <!-- Logo -->
      <div>
        <g-link class="font-bold uppercase" :to="localePath('/blog')">
          Pewen
        </g-link>
      </div>

      <!-- Burger button -->
      <div class="flex sm:hidden">
        <SelectLang />

        <ToggleTheme />

        <button type="button" class="block p-0 text-on-primary-light
          hover:text-on-primary focus:text-on-primary focus:outline-none"
                @click="isOpen = !isOpen"
        >
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
            <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Links -->
    <nav :class="isOpen ? 'block' : 'hidden'" class="font-bold uppercase
      items-center px-4 pt-2 pb-4 sm:flex sm:p-0"
    >
      <ToggleTheme v-if="!isOpen" />

      <g-link class="block py-2 border-b-ani sm:mr-6" :to="localePath('/blog')">
        {{ $t('navbar.blog') }}
      </g-link>

      <g-link class="block py-2 border-b-ani sm:mr-6" :to="localePath('/proyectos')">
        {{ $t('navbar.projects') }}
      </g-link>

      <g-link class="block py-2 border-b-ani sm:mr-6" :to="localePath('/datos')">
        {{ $t('navbar.data') }}
      </g-link>

      <SelectLang v-if="!isOpen" />
    </nav>
  </header>
</template>

<script>
/*  global localStorage  */

import { mapActions } from 'vuex'

import ToggleTheme from './TheHeaderToggleTheme'
import SelectLang from './TheHeaderSelectLang'

export default {
  components: {
    ToggleTheme,
    SelectLang
  },
  data () {
    return {
      isOpen: false
    }
  },
  mounted () {
    // Set theme
    if (localStorage.theme) {
      this.setTheme({ theme: localStorage.theme })
    }

    // Set locale
    this.$i18n.locale = this.$context.locale
  },
  methods: {
    ...mapActions('common', ['setTheme'])
  }
}
</script>
