<template>
  <a class="mr-4 sm:mr-6 cursor-pointer text-on-primary-light
    sm:text-on-primary hover:text-on-primary focus:text-on-primary
    focus:outline-none"
     @click="toggleTheme"
  >
    <Sun v-if="theme === 'light'" class="w-6 h-6 hover:fill-white" />

    <Moon v-else-if="theme === 'dark'" class="w-6 h-6 hover:fill-white" />
  </a>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import Sun from '~/assets/svg/sun.svg'
import Moon from '~/assets/svg/moon.svg'

export default {
  components: {
    Sun,
    Moon
  },
  computed: {
    ...mapState('common', ['theme'])
  },
  methods: {
    ...mapActions('common', ['toggleTheme'])
  }
}
</script>
