<template>
  <div class="relative text-on-primary p-0 sm:pb-1 mr-4 sm:mr-0
    text-on-primary-light sm:text-on-primary hover:text-on-primary
    focus:text-on-primary focus:outline-none"
  >
    <select v-model="selected" class="bg-background-primary
      font-bold uppercase block appearance-none sm:pr-8
      focus:outline-none focus:bg-background-primary aa"
            @change="updateLang()"
    >
      <option v-for="opt in options" :key="opt">
        {{ opt }}
      </option>
    </select>

    <div class="absolute hidden sm:flex items-center pr-2
      inset-y-0 right-0 pointer-events-none "
    >
      <Down class="w-6 h-6" />
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import Down from '~/assets/svg/chevron-down.svg'

export default {
  components: {
    Down
  },
  data: function () {
    return {
      selected: '',
      options: this.$i18n.locales
    }
  },
  mounted () {
    this.selected = this.$context.locale
  },
  methods: {
    ...mapActions('common', ['setLang']),
    updateLang () {
      // Update store
      this.setLang({ lang: this.selected })

      // Translate content and url
      this.switchLocalePath(this.selected)
    }
  }
}
</script>

<style scoped>
.aa {
  width: 27px;
}

@media (min-width: 640px) {
  .aa {
    width: auto;
  }
}
</style>
