<template>
  <div :class="theme" class="bg-background-body text-on-body font-body">
    <Header />

    <slot />

    <div class="container mx-auto my-12 px-4 sm:px-2 xl:px-10">
      <p class="bg-background-body-secondary shadow-xl text-lg p-5">
        🛠 Sitio en desarrollo 🛠
        <br />
        Por sugerencias o correcciones escribir a <a href="https://twitter/fnbellomo" target="_blank">@fnbellomo</a> y a
        <a href="https://twitter/ucaomo" target="_blank">@ucaomo</a>.
        Si te sentis mas comodo nos podes hacer un issue en gitlab
      </p>
    </div>

    <Footer />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Header from '~/components/TheHeader.vue'
import Footer from '~/components/TheFooter.vue'

export default {
  components: {
    Header,
    Footer
  },
  computed: {
    ...mapState('common', ['theme'])
  }
}
</script>
